#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 66, 77);
}

.container {
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.input-container {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 25px;
    padding: 2px 10px;
    overflow: hidden;
}
input:focus{
    outline: none;
}

.searchIcon img {
    object-fit: contain;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.city-input {
    flex: 1;
    height: 30px;
    border: none;
    font-size: 18px;
    padding: 5px;
}

.image img {
    text-align: center;
    width: 150px;
    padding: 20px 10px;
}


.temp,
.location,
.country {
    margin-top: 5px;
    font-size: 25px;
    text-transform: capitalize;
}

.temp {
    font-weight: 500;
}

.location {
    color: rgb(255, 166, 0);
}

.coord {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
}

.coord div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.coord div span {
    font-size: 15px;
}

.humidity-percentage,
.wind-percentage,
.coord div span:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    margin: 10px;
}

.datacontainer {
    display: flex;
    justify-content: space-between;
}

.datacontainer img {
    width: 50px;
}

.loadingMsg,
.errorMsg,
.cityNotFound{
    margin-top: 10px;
    color: #888;
    font-size: 25px;
    font-family: 400;
    text-align: center;

}